*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Spartan', sans-serif;
    background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top, bottom right;
}

main{
    padding: 1.25em;
}

h1{
    color: hsl(300, 43%, 22%);
    text-align: center;
    margin: 2em auto 0.75em;
    font-weight: 700;
}

.intro{
    color: hsl(303, 10%, 53%);
    text-align: center;
    margin-bottom: 2em;
    line-height: 1.5em;
    font-size: 14.5px;
}

.card-1, .card-2, .card-3{
    text-align: center;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 0.5em;
    padding: 0.75em;
    margin-bottom: 1em;
}

.extra{
    margin-top: 0.5em;
    font-size: 15px;
}

.card-3{
    margin-bottom: 2em;
}

.person-1, .person-2, .person-3{
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 2em;
}

.name {
    font-weight: 700;
    color: white;
    margin-left: 1.25em;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info{
    display: flex;
    margin-bottom: 1.75em;
}

span{
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}

.profilePhoto{
    border-radius: 50%;
    width: 2.75em;
    height: 2.75em;
}

.reviews{
    color: white;
    line-height: 1.5em;
    font-size: 13px;
}

@media (min-width: 930px){
    body{
        background: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        max-width: 1090px;
    }

    .column{
        display: flex;
        margin-bottom: 20px;
    }
    
    header{
        display: flex;
        flex-direction: column;
    }
    h1{
        width: 60%;
        text-align: left;
        margin-left: 0em;
        margin-top: 0em;
        font-size: 2.7em;
        margin-bottom: 20px;
        line-height: 1em;
    }
    .intro{
        width: 70%;
        text-align: left;
        margin-bottom: 0em;
    }
    .extra{
        display: inline-block;
        font-size: 13px;
        margin: 0;
        padding-left: 1.5em;
    }

    .rating-cards{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .card-1, .card-2, .card-3{
        width: 80%;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .card-1{
        position: relative;
        right: 20%;
    }
    .card-2{
        position: relative;
        right: 10%;
    }
    .card-3{
        margin-bottom: 0em;
    }
    .person-1, .person-2, .person-3{
        width: 26%;
        transition: transform 300ms, box-shadow 400ms;
        margin-bottom: 0px;
    }
    /* .person-2{
        position: relative;
        top: 1em;
    }
    .person-3{
        position: relative;
        top: 2em;
    } */
    .person-1:hover, .person-2:hover, .person-3:hover{
        transform: translateY(-0.25em);
        box-shadow: 0px 5px 15px 2px hsl(300, 52%, 84%);
    }
    .review-cards{
        display: flex;
        justify-content: space-between;
    }
}